@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }

body {
	background: linear-gradient(180deg,#f3f4f6 0%, #e6e7ee 100%);
	font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
